<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

</head>
<body>
    <main>
        <h1>Admin</h1>
        <form method="post">
            <label for="email">Admin email</label><br>
            <input id="email" name="email" type="email" required><br>
            <lable for="password">Password</lable><br>
            <input id="password" name="password" type="password" required><br>
            <button type="submit">Access orders</button>
        </form>

    </main>
</body>
</html>
