<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <head>
        <title>
            🍵Coffee Selection🍵
        </title>       
    </head>
    <body>
        <form action="/coffee" method="post">
            <div class="options-container">
            <h1>Coffee Day</h1>
            <p>you have selected Coffee Option </p>
                <h3>please select the size of your coffee </h3>
                <input type="radio" name="items" value="coffee" required>coffee<br>
                <input type="radio" name="items" value="tea">tea<br>
                <input type="radio" name="items" value="milkshake">milkshake<br>
                <input type="radio" name="items" value="juice">juice<br>
                <h3>please select the size of your item   </h3>
                <input type="radio" name="quantity" value="small" required>small☕<br>
                <input type="radio" name="quantity" value="medium">medium🍵<br>
                <input type="radio" name="quantity" value="large">large🥤<br>
                <h3>please select the flavor of your item </h3>
                <input type="radio" name="flavor" value="vanilla">vanilla<br>
                <input type="radio" name="flavor" value="chocolate">chocolate<br>
                <input type="radio" name="flavor" value="None" checked>None<br>
                <h3>please select the toppings for your item </h3>
                <input type="radio" name="topping" value="chocolate chips">chocolate chips<br>
                <input type="radio" name="topping" value="whipped cream">whipped cream<br>
                <input type="radio" name="topping" value="caramel sauce">caramel sauce<br>
                <input type="radio" name="topping" value="None" checked>None<br>
                <input type="submit" value="Submit and continue to next option">
           
        </div>
    </form>
        
    </body>
</html>