<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INITIAL MOMENTS</title>

</head>
<body>

    <form action="/manager" method="POST">
        <h2>Hello Good Morning</h2>
        
        <div class="options-container">
                <input type="checkbox" name="coffee" value="coffee">Coffee<br><br><br>
                <input type="checkbox" name="tiffne" value="tiffne">Tiffne<br><br><br>
        </div>

        <button type="submit" class="submit-btn">Submit</button>
    </form>

</body>
</html>
